#container {
  text-align: center;
}

body {
  background-color: #efefef;
}

#btn {
  cursor: pointer;
  background: #e0e0e0;
  /* color: white; */
  /* width: 20%; */
  /* height: 2em; */
  border-radius: 3px;
  padding: 10px 30px;
}

#btn:hover {
  opacity: 0.8;
}

#btn-p {
  padding: 20px;
}

@media screen and (max-width: 600px) {
  textarea {
    padding: 1em;
    width: 90%;
    height: 15em;
    box-sizing: border-box;
  }
}
